{% extends 'base.html' %}
{% import "forms.html" as forms %}

{% block title %}Patient Registation{% endblock %}

{% block main %}

<form action="{{ url_for('register') }}" class="needs-validation" method="POST">
    <div class="row">
        <div class="col-md-4">
            {{ forms.input("username", "Username") }}
        </div>
        <div class="col-md-4">
            {{ forms.input("password", "Password", "password") }}
        </div>
        <div class="col-md-4">
            {{ forms.input("confirm", "Confirm", "password") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           {{ forms.input("email", "Email") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ forms.input("first-name", "First name") }}
        </div>
        <div class="col-md-4">
            {{ forms.input_opt("middle-name", "Middle name") }}
        </div>
        <div class="col-md-4">
            {{ forms.input("last-name", "Last name") }}
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ forms.input("address1", "Address #1") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ forms.input_opt("address2", "Address #2") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ forms.input("city", "City") }}
        </div>
        <div class="col-md-4">
            {{ forms.select("state", "State", us_states) }}
        </div>
        <div class="form-group col-md-4">
            {{ forms.input("zip-code", "Zip code", size=5) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ forms.input_opt("home-phone", "Home phone", "tel", size=10) }}
        </div>
        <div class="col-md-4">
            {{ forms.input_opt("work-phone", "Work phone", "tel", size=10) }}
        </div>
        <div class="col-md-4">
            {{ forms.input("cell-phone", "Cell phone", "tel", size=10) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ forms.input("birthdate", "Birthdate", "date") }}
        </div>
        <div class="col-md-4">
            {{ forms.radio("gender", "male", " Male") }}
            {{ forms.radio("gender", "female", " Female") }}
        </div>
        <div class="col-md-4">
            <div class="custom-checkbox">
                {{ forms.check("accept-terms", "Accept terms", true) }}
            </div>
        </div>
    </div>
    {{ forms.button("Register", "submit") }}
</form>
<script>
    // Enable tooltips for form
    $(document).ready(function (event)
    {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).submit(function(event)
    {
        // Block form submission to evaluate on client
        event.preventDefault();

        var username = $('input').first().val();

        // URL to the route
        var url = "/check?email=" + username;

        $.get(url,
            function (data, status)
            {
                // User entered a username that is available
                if (data)
                {
                    $('form').unbind(event).submit();
                }
                // User entered a username that is unavailable
                else
                {
                    alert("Username not available");
                }
            });
    });
    $('#termsModal').on('shown.bs.modal', function() {
        $('#termsLink').trigger('focus')
    });
</script>
{% endblock %}